<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  <body>
    <header>{% include "nav.liquid" %}</header>
    <main>{{ content }}</main>
    <footer>{% include "footer.liquid" %}</footer>
  </body>
</html>
