<div class="navbar">
  <p class="navbar-title"><a href="/">Jay Mody</a></p>
  <nav class="navbar-iconlinks">
    <a href="https://github.com/jaymody" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/jaykmody" target="_blank"><i class="fab fa-linkedin"></i></a>
  </nav>
  <nav class="navbar-textlinks">
    <a href="/">Posts</a>
    <a href="/about/">About</a>
  </nav>
</div>
