<div class="navbar">
  <p class="navbar-title"><a href="/">{{ site.title }}</a></p>
  <nav class="navbar-iconlinks">
    <a href={{ site.github }} target="_blank"><i class="fab fa-github"></i></a>
    <a href={{ site.linkedin }} target="_blank"><i class="fab fa-linkedin"></i></a>
  </nav>
  <nav class="navbar-textlinks">
    <a href="/">Posts</a>
    <a href="/about/">About</a>
  </nav>
</div>
