<nav>
  <a href="/" style="color: black"><strong>{{ site.title }}</strong></a>
  |
  <a href={{ site.twitter }}><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
  |
  <a href={{ site.github }}><i class="fa-brands fa-github" aria-hidden="true"></i></a>
  |
  <a href="/feed.xml"><i class="fa-solid fa-rss"></i></a>
</nav>
