<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jay Mody</title>
    <meta name="description" content="My little corner of the internet.">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- load stylesheet -->
    <link href="/styles.css" rel="stylesheet" />

    <!-- load font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    {% include "nav.liquid" %}
    {{ content }}
  </body>
</html>
