/* ********************************* vars ********************************** */
:root {
    --heading-color: #000;
    --body-color: #3d3d3d;
    --skyblue: #008bd1;
    --skyblue-dark: #006ba1;
}

/* ******************************** reset ********************************* */
* {
    margin: 100;
    padding: 0;
}

html {
    font-size: 18px; /* sets the rem unit size */
}

body {
    /* font stuff */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;

    /* max width, probably best width to consume the content */
    max-width: 800px;

    /* center the page */
    margin: 0 auto;

    /* use 4vw of padding on left and right if under max width,
    which makes it look good on phones */
    padding: 0 8vw;
}

img {
    max-width: 100%;
    display: block;
}

/* ****************************** typography ******************************* */
a {
    color: var(--skyblue);
}
a:hover {
    color: var(--skyblue-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

p, li {
    margin: 1rem 0;
}


/* ****************************** navbar ******************************* */
#navbar {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* title */
#navbar > #navbar-title > a {
    margin-right: 0.5em;
    text-decoration: none;
    color: var(--site-title);
    font-size: 1.25rem;
    font-weight: 600;
}

#navbar > #navbar-title  > a:hover {
    text-decoration: underline;
}

/* navlinks */
#navbar > #navbar-textlinks > a {
    margin: 0 0.5em;
    text-decoration: none;
    font-weight: 500;
}

#navbar > #navbar-textlinks > a:hover {
    text-decoration: underline;
}

/* iconlinks */
#navbar > #navbar-iconlinks {
    margin-right: auto;
    font-size: 1.2rem;
    opacity: .7;
}

#navbar > #navbar-iconlinks > a {
    margin: 0 0.5em;
    text-decoration: none;
}
