/* ********************************* vars ********************************** */
:root {
    --white: #ffffff;
    --black: #000000;

    --link-blue: #008bd1;
    --link-blue-hover: #006ba1;

    --hr: #cccccc;
    --border: #dddddd;
    --codeblock-header: #eeeeee;
    --blockquote: #99999998;
    --site-title: #666666;
}

/* ******************************** reset ********************************* */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 17px; /* sets the rem unit size */
}

body {
    /* font stuff */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;

    /* max width, probably best width to consume the content */
    max-width: 800px;

    /* center the page */
    margin: 0 auto;

    /* use 4vw of padding on left and right if under max width,
    which makes it look good on phones */
    padding: 0 8vw;
}

/* ****************************** typography ******************************* */
a {
    color: var(--link-blue);
    text-decoration: none;
}
a:hover {
    color: var(--link-blue-hover);
    text-decoration: underline;
}
img {
    max-width: 100%;
    display: block;
}

/* **************************** common classes **************************** */
.date {
    opacity: 0.5;
}

.no-bullets {
    list-style: none;
}

.lightweight {
    font-weight: 300;
}

/* ****************************** navbar ******************************* */
.navbar {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* title */
.navbar > .navbar-title > a {
    margin-right: 0.5em;
    color: var(--site-title);
    font-size: 1.25rem;
    font-weight: 600;
}

/* textlinks */
.navbar > .navbar-textlinks > a {
    margin: 0 0.5em;
    font-weight: 500;
}

/* iconlinks */
.navbar > .navbar-iconlinks {
    margin-right: auto;
    font-size: 1.2rem;
    opacity: 0.7;
}

.navbar > .navbar-iconlinks > a {
    margin: 0 0.5em;
}

/* ****************************** post header ******************************* */
.post-header {
    margin: 20px 0;
}

.post-header > .post-header-title {
    font-weight: 300;
}

.post-header > .post-header-title > a {
    text-decoration: none;
}

/* ****************************** post content ******************************* */
.post-content > * {
    /* by default, every immediate child element of the post-content div will
    have a top margin and bottom margin of 1rem which provides a nice default
    for consistent spacing between blocks of different content */
    margin: 1rem 0;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
    margin-top: 2rem;
    line-height: 1;
    font-weight: 400;
}

.post-content > ol,
.post-content > ul {
    padding-left: 1rem;
}
.post-content ol,
.post-content ul {
    margin-left: 1rem;
}

.post-content > hr {
    border: 0;
    border-top: 1px solid var(--hr);
}

.post-content > blockquote {
    border-left: 3px solid var(--codeblock-header);
    padding-left: 20px;
    opacity: .6;
    font-style: italic;
}

.post-content > video,
.post-content > img,
.post-content > figure,
.post-content > figure > img,
.post-content > p > img {
    max-width: 100%;
    border-radius: 8px;

    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post-content figure > figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    opacity: .6;
}

/* mathjax */
.post-content .MathJax {
    font-size: 1.2rem !important;
}

/* code */
.post-content > pre * {
    font-size: 0.9rem;
}
.post-content code {
    border-radius: 4px;
    font-size: 0.9rem;
}
.post-content > pre > div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--codeblock-header);
    padding: 0.4em 0;

    border: 0.5px solid var(--border);
    border-radius: 8px 8px 0px 0px !important;
}
.post-content > pre > div > i {
    opacity: .4;
}
.post-content > pre > div > p {
    margin-left: 0.5em;
    opacity: .5;
}
.post-content > pre > code {
    border: 0.5px solid var(--border);
    border-top: 0;
    border-radius: 0px 0px 8px 8px !important;
}
.post-content .hljs-ln-numbers {
    text-align: right;
    color: #aaaaaa;
    padding-right: 1em !important;
}
.post-content .hljs-comment {
    opacity: 0.6; /* make comments less visible and easier to differentiate */
}

/* ****************************** site footer ******************************* */
.site-footer {
    margin-bottom: 40px;
}
