:root {
    --hr: #cfcfcf;

    /* bamboo css values */
	--b-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--b-font-mono: Consolas, Monaco, monospace;
	--b-txt: #2e3440;
	--b-bg-1: #fff;
	--b-bg-2: #eceff4;
	--b-line: #eceff4;
	--b-link: #0073ff;
	--b-btn-bg: #242933;
	--b-btn-txt: #fff;
	--b-focus: #d8dee9;
}

header {
    padding-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

footer {
    text-align: center;
    opacity: 0.5;
}

img, video {
    /* make sure images are not too big and are centered */
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: 0.8rem;
    text-align: center;
    opacity: .6;
}

pre {
    padding: 0 !important;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--hr);
}

nav {
    font-size: 1.2rem;
}

.footnotes {
    /* make footnotes lighter to visually separate them from the actual post content */
    opacity: 0.6;
}

.hljs-comment {
    /* make codeblock comments easier to differentiate */
    color: #8d9196;
}
